html, body {
    height: 100%;
    margin: 0 !important;
    background-color: #9ece00;
    color: #707070; }

/* The header */
div#page-head {
    position: absolute;
    top: 0;
    height: 120px;
    width: 100%; }
    div#page-head header {
        padding-top: 20px; }

/* The message area */
div#page-content {
    position: absolute;
    width: 100%;
    top: 140px;
    bottom: 180px; }
    section#message-board {
        overflow-y: auto;
        background-color: #fff;    
        margin-bottom: 0.9375em;
        height: 100%;
        padding: 10px 15px;
        border-radius: 15px; }
        section#message-board article {
            border-radius: 15px;
            background-color: #f8f301;
            height: auto;
            padding: 5px;
            margin: 5px 0; }
            section#message-board article p {
                margin: 0; }
                section#message-board article div img {
                    display: block;
                    float: right; }
            section#message-board article footer {
                text-align: right; }
            section#message-board article footer p {
                font-size: 0.8em;
                line-height: 1;
                font-style: italic; }

/* The Form area */
div#page-foot {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 177px; }
    section#formSection {
        background-color: #fff;
        height: 157px;
        border-radius: 15px; }
        div#nbrOfMessages p {
            width: 100%;
            text-align: right;
            padding: 0.9375em 0.9375em 0; }

form textarea {
    height: 61px;
    color: inherit;
    font-family: monospace; }
