@charset "UTF-8";
/* Colors tu use: a32500 (terrakotta), 2b2922 (almost black), efe4bd (almost white), 
	bab293 (light grey), a39770 (darker grey) */

html, body {
    max-height: 100%;
    max-width: 100%;
}

body {
    background-image: url('../img/default-background.png');
}

/* --- The icon bar and the icons --- */

div#iconbar {
    position: absolute;
    width: 80px;
    top: 0;
    right: 0;
    bottom: 0;
}

    div#iconbar ul {
        padding-top: 10px;
    }

        div#iconbar ul li {
            width: 60px;
            height: 60px;
            margin: 0 auto;
        }

            div#iconbar ul li a {
                display: block;
                padding: 6px;
                width: 48px;
                height: 48px;
            }

                div#iconbar ul li a img {
                    display: block;
                    width: 48px;
                    height: 48px;
                }

                div#iconbar ul li a:hover {
                    background-color: rgb(163, 151, 112);
                    background-color: rgba(163, 151, 112, 0.5);
                }

                div#iconbar ul li a:active {
                    background-color: #a39770;
                    background-color: rgba(163, 151, 112, 0.5);
                    padding: 5px;
                    border: inset 1px #a39770;
                }

/* --- The desktop and the windows --- */

div#desktop {
    position: absolute;
    top: 0;
    right: 80px;
    bottom: 0;
    left: 0;
}

    div#desktop div.window {
        position: absolute;
        /* JS should control where the window is placed. */
        background-color: #a39770;
        border: outset 1px #fff;
        z-index: 0;
    }

        div#desktop div.window.ontop {
            box-shadow: 2px 2px 1px 1px #000;
            box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.3);
            z-index: 1000;
        }

        /* For the top-bar in all windows. */

        div#desktop div.window div.top-bar {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 25px;
            padding: 2px;
            background-color: #a39770;
        }

            div#desktop div.window div.top-bar img {
                float: left;
                display: inline;
                height: 100%;
                width: auto;
            }

            div#desktop div.window div.top-bar p {
                float: left;
                display: inline;
                padding: 3.5px 0 2px 1px;
                font-size: 1rem;
                font-family: sans-serif;
                height: 21px;
                cursor: default;
            }

            div#desktop div.window div.top-bar a.close-icon {
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                float: right;
                display: inline;
                height: 21px;
                width: 21px;
                padding: 1px;
            }

                div#desktop div.window div.top-bar a.close-icon:active {
                    padding: 0;
                    border: inset 1px #fff;
                    height: 21px;
                    width: 21px;
                }

        /* The menu bar if existing. */

        div#desktop div.window div.menu-bar {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            position: absolute;
            top: 25px;
            left: 0;
            right: 0;
            height: 25px;
            padding: 0 0;
            background-color: /*#efe4bd*/ #fff;
            margin: 0 2px 0;
            border-top: inset 1px #fff;
            border-left: inset 1px #fff;
            border-right: inset 1px #fff;
        }

            div#desktop div.window div.menu-bar ul li {
                display: inline;
            }

            div#desktop div.window div.menu-bar a {
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                display: inline-block;
                height: 100%;
                width: auto;
                padding: 4.5px 5px 2px;
                text-decoration: none;
                margin: 0;
                font-family: sans-serif;
                font-size: 0.95rem;
                color: black;
            }

                div#desktop div.window div.menu-bar a.active {
                    background-color: #efe4bd;
                }

        div#desktop div.window div.archive {
            position: absolute;
            top: 0;
            left: 0;
            width: auto;
            height: auto;
            z-index: 2000;
        }

        div#desktop div.window div.properties {
            position: absolute;
            top: 0;
            left: 41px;
            width: auto;
            height: auto;
            z-index: 2000;
        }

            div#desktop div.window div.archive li, div#desktop div.window div.properties li {
                display: block;
                width: 100%;
                height: auto;
            }

                div#desktop div.window div.archive li a, div#desktop div.window div.properties li a {
                    display: block;
                    padding: 6px 4px;
                    width: 100%;
                    height: auto;
                    background-color: #efe4bd;
                    font-family: sans-serif;
                    font-size: 0.8rem;
                    text-decoration: none;
                    color: black;
                    cursor: pointer;
                }

                    div#desktop div.window div.archive li a:hover, div#desktop div.window div.properties li a:hover {
                        display: block;
                        width: 100%;
                        height: auto;
                        background-color: #fff;
                    }

            div#desktop div.window div.archive.hidden, div#desktop div.window div.properties.hidden {
                display: none;
            }

        /* The content area of the window. */

        div#desktop div.window div.content {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            position: absolute;
            top: 25px;
            right: 0;
            bottom: 20px;
            left: 0;
            margin: 0 2px;
            background-color: /*#efe4bd*/ #fff;
            border: inset 1px #fff;
            padding: 10px;
            overflow-y: auto;
        }

            /* For the gallery windows. */

            div#desktop div.window div.content.gallery ul li {
                display: inline;
                float: left;
                /* JS controls the height and width of the images. */
                padding: 5px;
                margin: 0 5px 10px;
            }

                div#desktop div.window div.content.gallery ul li a {
                    display: block;
                    height: 100%;
                    width: 100%;
                    padding: 5px;
                    background-color: #bab293;
                }

                    div#desktop div.window div.content.gallery ul li a img {
                        display: block;
                        height: 100%;
                        width: auto;
                        margin: 0 auto;
                    }

            /* For the memory windows. */

            div#desktop div.window div.content.memory {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                top: 50px;
                border-top: none;
                padding: 20px;
            }

                div#desktop div.window div.content.memory table {
                    width: auto;
                    margin: auto;
                    margin-bottom: 10px;
                }

                    div#desktop div.window div.content.memory table a {
                        border: none;
                        margin: 2px;
                    }

                        div#desktop div.window div.content.memory table a.clickable {
                            cursor: pointer;
                        }

                        div#desktop div.window div.content.memory table a.unclickable {
                            cursor: default;
                        }

                div#desktop div.window div.content.memory div.gameBoardInfo {
                    width: 100%;
                    height: 4.5em;
                }

                    div#desktop div.window div.content.memory div.gameBoardInfo p {
                        width: 100%;
                        font-family: Andalus, 'Bookman Old Style', serif;
                        text-align: center;
                        cursor: default;
                    }

                div#desktop div.window div.content.memory button {
                    width: 80%;
                    line-height: 1.6;
                    padding: 2px;
                    margin-left: 10%;
                    border: outset 2px #fff;
                    cursor: pointer;
                    background: #a39770;
                    letter-spacing: 2px;
                    font-weight: bold;
                    font-family: Andalus, 'Bookman Old Style', serif;
                }

                    div#desktop div.window div.content.memory button:active {
                        border: inset 2px #fff;
                    }

                    div#desktop div.window div.content.memory button.notInUse {
                        opacity: 0.5;
                        cursor: default;
                    }

            /* For the rss window. */

            div#desktop div.window div.content.rss div.rssFeed h2.rss_title {
                font-weight: bold;
                font-family: Arial, sans-serif;
                margin: 30px 0 5px;
                font-size: 1rem;
            }

                div#desktop div.window div.content.rss div.rssFeed h2.rss_title:first-of-type {
                    font-weight: bold;
                    font-family: Arial, sans-serif;
                    margin: 5px 0 5px;
                    font-size: 1.5rem;
                }

            div#desktop div.window div.content.rss div.rssFeed p {
                font-size: 0.85rem;
                line-height: 1.2;
                font-family: 'Times New Roman', serif;
                margin-top: 5px;
            }

            div#desktop div.window div.content.rss div.rssFeed a {
                font-family: 'Times New Roman', serif;
                line-height: 1.2;
                text-decoration: none;
            }

                div#desktop div.window div.content.rss div.rssFeed a:hover {
                    font-family: 'Times New Roman', serif;
                    line-height: 1.2;
                    text-decoration: underline;
                    background-color: rgb(163, 151, 112);
                    background-color: rgba(163, 151, 112, 0.5);
                }

        /* For the bottom-bar of all windows. */

        div#desktop div.window div.bottom-bar {
            position: relative;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 20px;
            padding: 2px;
            background-color: #a39770;
        }

            div#desktop div.window div.bottom-bar small {
                position: relative;
                float: left;
                display: inline;
                height: 100%;
                width: 100%;
                padding-top: 3px;
                font-family: sans-serif;
                font-size: 0.7rem;
                font-style: italic;
                cursor: default;
            }

                div#desktop div.window div.bottom-bar small img {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    float: left;
                    display: inline;
                    height: 15px;
                    width: auto;
                    margin: 0 0 3px 0;
                }

            div#desktop div.window div.bottom-bar div.resize {
                position: absolute;
                bottom: 0;
                right: 0;
                float: right;
                display: inline;
                height: 3px;
                width: 3px;
                margin: 0 2px 2px 0;
                border-bottom: solid 2px #efe4bd;
                border-right: solid 2px #efe4bd;
                cursor: nwse-resize;
            }
